@font-face {
    font-family: 'EduCursive';
    src: url('../fonts/EduCursive/EduCursive.ttf') format('truetype');
    font-style: normal;
}

body {
    background-color: gray;
    color: white;
}

.h1text {
    font-family: 'Educursive', cursive;
    font-size: 40px;
    font-weight: 400;
}