@font-face {
    font-family: 'EduCursive';
    src: url('../fonts/EduCursive/EduCursive.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.h1text {
    font-family: 'Educursive', cursive;
    font-size: 40px;
}